<div class="hero-unit">
  <p><%= @comment.body %></p>

<%= render :partial => 'comments/comment_form', :locals => {:commentable => @commentable, :comment => @new_comment } %>
<%= render :partial => 'comments/commentable_comments', :locals => {:commentable => @commentable, :comments => @comments } %>

</div>

<%= debug @commentable %>
<%= debug session[:source_link] %>